/**
  * ----------------------------------------------------------
  * ## Colors
  * ----------------------------------------------------------*/

// Main color pallet
$primary-color: #ed1d24

$primary-darker: darken($primary-color, 15%)

$grey: #757a86

$medium-grey: #999999

$light-grey:  #e6e6e6

$background-grey: #f2f3f7

$darker-grey: #232323
