/**
  * ----------------------------------------------------------
  * ## Colors
  * ----------------------------------------------------------*/

// Main color pallet
$primary-color: #ed1d24

$primary-darker: darken($primary-color, 15%)

$grey: #757a86

$light-grey:  #ededed

$background-grey: #f2f3f7

$darker-grey: #242424
