.product-buttons
  margin-bottom: 40px
  .btn
    margin-bottom: 10px
    .fa
      margin-right: 5px

@media (max-width: 767px)
  .product-buttons
    margin-bottom: 20px
    .btn
      margin-bottom: 10px
      .fa
        margin-right: 5px
    .btn-primary
      width: 100%
      text-align: center
      padding: 10px 20px
