.product-block
  margin-bottom: 30px
  .block-title
    font-size: 20px
    margin-bottom: 20px
    &:focus
      outline: none
  .laser-block-content
    display: flex
    background-color: white
    img
      border: 1px solid $light-grey
      //width: 100%
    .block-description
      padding-left: 20px
      .list-title
        font-weight: bold
        color: $primary-color
        margin-bottom: 10px

#industry-block
  margin-bottom: 20px
  .industry-block-content

@media (max-width: $medium)
  .product-block
    .laser-block-content
      flex-direction: column
      .block-description
        padding-left: 0px
        ul
          columns: 1

@media (max-width: $small)
  .product-block
    margin-bottom: 30px
    .section-title
      margin-bottom: 20px
