.tabcontent
  table
    thead
      background-color: $primary-color
      tr
        border: none
        td
          border: none
          &:first-child
            text-align: left
          p
            margin: 0
            color: white
            font-weight: bold
            font-size: 14px
    tbody
      tr
        border-color: $light-grey
        &:nth-child(even)
          background-color: $light-grey
        td
          border-color: $light-grey
          &:first-child
            text-align: left
          p
            margin: 0
            font-size: 13px
