.product-block
  margin-bottom: 30px
  .block-title
    font-size: 20px
    margin-bottom: 20px
  .laser-block-content
    display: flex
    padding: 20px
    background-color: white
    img
      border: 1px solid $light-grey
      //width: 100%
    .block-description
      padding-left: 20px
      .list-title
        font-weight: bold
        color: $primary-color
        margin-bottom: 10px
#laser-block
  .block-title
    background-color: white
    padding: 20px 20px 0
    margin-bottom: 0
    display: inline-block
  .industry-block-content
    background-color: white
    padding: 20px

#industry-block
  margin-bottom: 20px
  .industry-block-content

@media (max-width: $medium)
  .product-block
    .laser-block-content
      flex-direction: column
      .block-description
        padding-left: 0px
        ul
          columns: 1
