.product-tabs-wrapper
  border-bottom: 1px solid $light-grey
  margin-bottom: 40px
  .tabs
    overflow: hidden
    button
      background-color: $light-grey
      border: none
      border-radius: 0
      outline: none
      cursor: pointer
      padding: 15px 20px
      transition: 0.3s
      font-size: 15px
      &:hover
        background-color: $primary-color
        h3
          color: #fff
      h3
        &::before
          display: none
    .active
      background-color: $darker-grey
      h3
        color: #fff
  .tab-container-wrapper
    .tabcontent
      border-top: 1px solid $light-grey
      display: none
      padding: 20px 0
      transition: all 400ms ease-in-out
