#product-featured-imgs
  margin: 0
  border: none
  .flex-direction-nav
    a
      height: 40px
      width: 40px
      top: 20px
      left: 0px
      opacity: 1
    .flex-nav-prev
      .flex-prev
        padding: 9px 14px
        background-color: transparentize($blue-grey, .9)
        &::before
          font-size: 16px
          color: $grey
          text-shadow: none
        &:hover
          background-color: $primary-color
          &::before
            color: white
    .flex-nav-next
      .flex-next
        left: 45px
        padding: 9px 14px
        background-color: transparentize($blue-grey, .9)
        &::before
          font-size: 16px
          color: $grey
          text-shadow: none
        &:hover
          background-color: $primary-color
          &::before
            color: white

#product-carousel-galerie
  margin: 0
  border: none
