#home-products, #home-news
  padding: 80px 0


#home-news
  background-color: $light-grey
.section-title
  position: relative
  text-transform: capitalize
  overflow: hidden
  margin-bottom: 30px
  font-family: $roboto
  font-weight: 300
  span
    position: relative
    display: inline-block
    &::after
      content: ''
      display: inline-block
      height: 6px
      width: 1000%
      position: absolute
      top: 50%
      left: 100%
      right: 100%
      margin-left: 10px
      //margin-top: -2px
      background-color: #f1f1f1


#home-products
  background-color: $light-grey
  .flex-products
    position: relative
    .flex-direction-nav
      .flex-nav-prev
        left: inherit
        .flex-prev
          text-shadow: none
          opacity: 1
          display: block
          width: 30px
          height: 30px
          top: -67px
          left: 160px
          margin: 0
          background-color: #f1f1f1
          text-align: center
          &:hover
            background-color: $darker-grey
            &::before
              color: $white-text-ongrey
          &::before
            font-family: "FontAwesome"
            font-size: 20px
            display: inline-block
            content: '\f104'
            color: $blue-grey
            text-shadow: none
      .flex-nav-next
        .flex-next
          text-shadow: none
          opacity: 1
          display: block
          width: 30px
          height: 30px
          top: -67px
          left: 195px
          right: inherit
          margin: 0
          background-color: #f1f1f1
          text-align: center
          &:hover
            background-color: $darker-grey
            &::before
              color: $white-text-ongrey
          &::before
            font-family: "FontAwesome"
            font-size: 20px
            display: inline-block
            content: '\f105'
            color: $blue-grey
            text-shadow: none


#home-services
  .container-fluid
    padding: 0
  .col-xs-12,
  .col-sm-12,
  .col-md-4,
  .col-lg-4
    padding: 0
    &:nth-child(2)
      .service-box
        background-color: lighten($darker-grey, 10%)
  .service-box
    height: 400px
    background-color: lighten($darker-grey, 5%)
    padding: 40px 20px
    text-align: center
    color: $light-grey
    img
      max-width: 100px
      margin-bottom: 20px
    .service-title
      margin-bottom: 20px
      color: #fff
      &::before
        display: none
    p
      margin: 0
      margin-bottom: 40px
    .service-btn
      color: $darker-grey
      background-color: $light-grey
      padding: 10px 20px
      border: 1px solid $light-grey
      border-radius: none
      cursor: pointer
      font-size: 14px
      &:hover
        color: #fff
        border: 1px solid $darker-grey
        background-color: $darker-grey


@media (max-width: 767px)
  #home-services
    height: 100%
    .service-box
      max-width: 100%
