#main-content
  margin-top: 110px

@media (max-width: 1024px)
  #main-content
    margin-top: 60px

@media (max-width: $small)
	.page-template-page-home
		#main-content
			margin-top: 0

@import "_home/_home"

@import "_pages/_pages"

@import "_product/_product"

@import "_sections"
