.page-header
  background-color: $blue-grey
  color: $light-grey
  width: 100%
  padding: 70px 0
  .page-title
    color: #fff
    &::before
      display: none

.page-content
  margin: 40px 0

.blog, .search-results
  #main-content
    padding: 40px 0
    .page-title
      margin-bottom: 40px
      span
        font-weight: 300
