.product-article
  padding-top: 40px
  .product-content
    margin-bottom: 40px
    .product-title
      font-family: $roboto
      font-weight: 300
      margin-bottom: 20px
    p
      color: #616161
      &:first-of-type
        margin-top: 0px

#product-featured-imgs
  border: none
  img
    //filter: contrast(0.9)
  .flex-caption
    width: 100%
    padding: 16px
    left: 0
    bottom: 0
    background: $blue-grey
    color: $white-text-ongrey
    text-shadow: 0 -1px 0 rgba(0,0,0,.3)
    font-size: 14px
    line-height: 18px
    h2
      color: #fff
      margin-bottom: 10px
      &::before
        display: none
    hr
      margin-bottom: 10px
      background-color: $white-text-ongrey
    p
      margin: 0
      line-height: 18px
      font-size: 14px
      color: $white-text-ongrey
  .flex-direction-nav
    a
      height: 50px
      width: 50px
      top: 20px
      left: 0px
      opacity: 1
    .flex-nav-prev
      .flex-prev
        padding: 10px 20px
        background-color: $blue-grey
        &::before
          font-size: 20px
          color: $white-text-ongrey
          text-shadow: none

    .flex-nav-next
      .flex-next
        left: 55px
        padding: 10px 20px
        background-color: $blue-grey
        &::before
          font-size: 20px
          color: $white-text-ongrey
          text-shadow: none

.product-buttons
  margin-bottom: 40px
  .button-catalog
    display: inline-block
    padding: 10px 20px
    color: $light-grey
    background-color: $blue-grey
    font-size: 14px
    margin-right: 20px
    &:hover
      background-color: $darker-grey
  .button-getquote
    display: inline-block
    padding: 10px 20px
    background-color: $primary-color
    font-size: 14px
    color: #fff
    &:hover
      background-color: $primary-darker

.product-video-gallerie

@media (max-width: 1024px)
  .product-buttons
    .button-catalog
      margin-right: 0
      text-align: center
      width: 100%
      margin-bottom: 20px
    .button-getquote
      text-align: center
      width: 100%
