.product-article
  .product-content
    padding: 80px 0 0
    .product-title
      font-family: $roboto
      font-weight: 300
      margin-bottom: 20px
    p
      color: #616161
      &:first-of-type
        margin-top: 0px

.post-type-archive-produtos
  .page-title
    margin-top: 40px

.hide
  display: none

@media (max-width: 767px)
  .product-title
    display: none
  .hide
    display: inline-block

#product-featured-imgs
  margin-bottom: 0
  border: none
  .flex-direction-nav
    a
      height: 40px
      width: 40px
      top: 20px
      left: 0px
      opacity: 1
    .flex-nav-prev
      .flex-prev
        padding: 9px 14px
        background-color: transparentize($blue-grey, .9)
        &::before
          font-size: 16px
          color: $grey
          text-shadow: none
        &:hover
          background-color: $primary-color
          &::before
            color: white
    .flex-nav-next
      .flex-next
        left: 45px
        padding: 9px 14px
        background-color: transparentize($blue-grey, .9)
        &::before
          font-size: 16px
          color: $grey
          text-shadow: none
        &:hover
          background-color: $primary-color
          &::before
            color: white

.product-buttons
  margin-bottom: 40px
  a,
  button
    font-size: 13px
    .fa
      margin-right: 8px
  .button-catalog
    display: inline-block
    padding: 10px 20px
    color: $light-grey
    background-color: $blue-grey
    margin-right: 20px
    &:hover
      background-color: $darker-grey
  .button-getquote
    display: inline-block
    padding: 10px 20px
    background-color: $primary-color
    color: #fff
    cursor: pointer
    &:hover
      background-color: $primary-darker

.related-products
  padding-bottom: 40px


.lasers-container
  display: flex
  flex-wrap: wrap
  .laser-image
    width: 40%
    img
  .laser-description
    width: 60%
    p
      font-size: 13px
  .laser-list
    width: 100%
    columns: 2
    font-size: 13px
    padding: 0
    margin: 0

  .laser-list-title
    margin-bottom: 10px
    strong
      color: $primary-color


@media (max-width: 767px)
  .product-buttons
    .button-catalog
      margin-right: 0
      text-align: center
      width: 100%
      margin-bottom: 20px
    .button-getquote
      text-align: center
      width: 100%

@import "_product-tables"
