#home-news
  .section-title
    margin-bottom: 20px


#home-services
  background-color: #fff
  .home-assist
    background-color: $grey
    color: #fff
    h2
      color: #fff

  .home-formacao
    background-color: #fff
    color: $darker-grey
    h2
      color: $darker-grey
