//Post card
.post-card
  background-color: #fff
  color: $grey
  transition: $main-transition
  box-shadow: 0 7px 22px rgba(19,19,19,.08)
  overflow: hidden
  border: 1px solid #f1f1f1
  margin-bottom: 30px
  &:hover
    .post-card-header
      .post-card-thumbnail
        img
          transform: scale(1.1)
          filter: contrast(90%)
    .post-card-footer
      a
        background-color: $blue-grey
        i
          color: $light-grey
  .post-card-header
    position: relative
    .post-card-date
      position: absolute
      top: 0
      left: 0
      padding: 1em
      background-color: $darker-grey
      color: #fff
      font-size: 0.6em
      span
        display: block
        text-align: center
      .day
        font-weight: 700
        font-size: 18px
      .month
        text-transform: uppercase
    .post-card-thumbnail
      overflow: hidden
      img
        overflow: hidden
        transition: $main-transition
        vertical-align: middle
        width: 100%
        filter: contrast(80%)
  .post-card-content
    padding: 20px
    p
      color: $blue-grey
      margin: 0
      font-size: 14px
    .post-card-title
      text-transform: capitalize
      margin-bottom: 20px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      a
        color: $darker-grey
      &::before
        display: none
  .post-card-footer
    text-align: right
    padding: 0px 20px 20px 20px
    a
      display: inline-block
      border: 1px solid $blue-grey
      width: 35px
      height: 35px
      transition: $main-transition
      text-align: center
      i
        transition: $main-transition
        color: $blue-grey
        margin-top: 11px
        margin-left: 3px
        font-size: 12px



// product cards
.product-card
  background-color: #fff
  color: $grey
  transition: $main-transition
  box-shadow: 0 7px 22px rgba(19,19,19,.08)
  overflow: hidden
  border: 1px solid #f1f1f1
  &:hover
    .product-card-header
      .product-card-thumbnail
        img
          transform: scale(1.1)
          filter: contrast(90%)
    .product-card-footer
      a
        background-color: $blue-grey
        i
          color: $light-grey
  .product-card-header
    .product-card-thumbnail
      overflow: hidden
      margin: 0
      img
        overflow: hidden
        transition: $main-transition
        vertical-align: middle
        filter: contrast(80%)
        transform: scale(1.01)
  .product-card-content
    padding: 20px
    p
      color: $blue-grey
      margin: 0
      font-size: 14px
    .product-card-title
      text-transform: capitalize
      margin-bottom: 10px
      a
        color: $darker-grey
      &::before
        display: none
    .product-card-category
      text-transform: uppercase
      display: block
      font-weight: bold
      font-size: 10px
      margin-bottom: 10px
      color: $darker-grey
  .product-card-footer
    text-align: right
    padding: 0px 20px 20px 20px
    a
      display: inline-block
      border: 1px solid $blue-grey
      width: 35px
      height: 35px
      transition: $main-transition
      text-align: center
      i
        transition: $main-transition
        color: $blue-grey
        margin-top: 11px
        margin-left: 3px
        font-size: 12px

.post-type-archive-products
  .product-card
    margin-bottom: 40px
    .product-card-content
      .product-card-title
        text-align: left
        margin-bottom: 0

.page-template-page-service
  .post-card
    .post-card-content
      .post-card-title
        text-align: left
        margin-bottom: 0
