#eu-cookie-bar
  background-color: $primary-color
  color: white
  position: fixed
  bottom: -70px
  opacity: 0
  width: 100%
  height: 70px
  display: none
  button
    background-color: white
    color: $darker-grey
  p
    margin: 0
