/**
  * ----------------------------------------------------------
  * ## Links
  * ----------------------------------------------------------*/

a
  color: $primary-color
  text-decoration: none

  &:visited
    color: $primary-darker

  &:hover,
  &:focus,
  &:active
    color: lighten($primary-color, 10%)
    outline: 0
    border: none
    -moz-outline-style: none

  &:focus
    color: desaturate($primary-color, 20%)


  &:hover,
  &:active
    outline: 0

.primary-btn
  display: inline-block
  background-color: $primary-color
  padding: 10px 20px
  font-weight: bold
  color: white
  font-size: 14px
  &:visited
    color: white
    background-color: $primary-color
  &:hover
    background-color: $darker-grey
    color: white
  .fa
    margin-left: 10px
    color: white

@media (max-width: $small)
  .primary-btn
    display: block
    width: 100%
