/**
  * ----------------------------------------------------------
  * ## Links
  * ----------------------------------------------------------*/

a
  color: $primary-color
  text-decoration: none

  &:visited
    color: $primary-darker

  &:hover,
  &:focus,
  &:active
    color: lighten($primary-color, 10%)
    outline: 0
    border: none
    -moz-outline-style: none

  &:focus
    color: desaturate($primary-color, 20%)


  &:hover,
  &:active
    outline: 0

.btn
  display: inline-block
  padding: 10px 20px
  font-weight: bold
  color: white
  font-size: 14px
  &:visited
    color: white
  .fa
    color: white
    margin-left: 10px

.btn-primary
  background-color: $primary-color
  &:visited
    background-color: $primary-color
  &:hover
    background-color: $primary-darker

.btn-secondary
  background-color: $blue-grey
  &:visited
    background-color: $blue-grey
  &:hover
    background-color: $darker-grey

@media (max-width: $small)
  .btn
