#main-footer
  .footer-widgets
    padding-top: 40px
    background-color: $darker-grey
    .widget
      margin-bottom: 40px
    a
      color: #fff
    ul, li
      list-style-type: none
      padding: 0
      margin: 0
    p
      color: #fff
    .widget-title
      color: #fff
      margin-top: 0
      margin-bottom: 10px
  .copyright
    background-color: $primary-color
    color: #fff
    padding: 20px 0
    p
      margin: 0
      font-size: 12px
