/**
  * ----------------------------------------------------------
  * ## Main Header
  * ----------------------------------------------------------*/
.main-header
  transition: $main-transition
  background-color: #fff
  box-shadow: 0px 2px 2px -2px rgba(#080808, 0.2)
  position: fixed
  z-index: 11
  width: 100%
  top: 0
  @include admin-sticky-fix
  p
    margin: 0
    text-align: right

.site-branding
  .custom-logo-link
    display: block
    .custom-logo
      margin: 15px 0 10px
      transition: $main-transition
      max-width: 190px

  .hide-text
    position: absolute
    overflow: hidden
    clip: rect(0 0 0 0)
    height: 1px; width: 1px
    margin: -1px
    padding: 0
    border: 0


@import "_main-nav"

@import "_mobile-nav"


.main-header-small
  .site-branding
    .custom-logo-link
      .custom-logo
        margin: 5px 0 0
        max-width: 200px
  #main-nav
    li
      line-height: 70px

@media (max-width: 1024px)
  .site-branding
    .custom-logo-link
      .custom-logo
        margin: 15px 0 10px
        max-width: 170px
  .main-header-small
    .site-branding
      .custom-logo-link
        .custom-logo
          margin: 15px 0 10px
          max-width: 120px
