/**
  * ----------------------------------------------------------
  * ## Main Header
  * ----------------------------------------------------------*/

#main-header
  p
    margin: 0
    text-align: right

#site-branding
  .logo
    display: block
    .maqfort-logo-svg
      margin: 20px 0
      display: block
      max-width: 250px

@import "_main-nav"
