/**
  * ----------------------------------------------------------
  * ### Main Navigation
  * ----------------------------------------------------------*/
#site-main-navigation
  text-align: right

#main-nav
  display: inline-block
  .main-menu
    padding: 0
    margin: 0
    list-style: none
    > .current-menu-item, .current_page_ancestor
      border-bottom: 2px solid $primary-color
    > li
      text-align: left
      padding: 0
      margin: 0
      margin-right: 20px
      line-height: 83px
      position: relative
      display: inline-block
      &:last-child
        margin-right: 0
      > a
        color: $darker-grey
        display: block
        font-family: $roboto
        font-weight: 300
        transition: $main-transition
        &:hover
          color: $primary-color
      // sub-menu level 1
      > .sub-menu
        position: absolute
        top: 100%
        left: 0
        padding: 0
        display: none
        list-style: none
        margin: 0
        > li
          background-color: $darker-grey
          white-space: nowrap
          width: 100%
          line-height: 50px
          padding: 0 20px
          &:hover
            background-color: lighten($darker-grey, 10%)
            > a
              color: #fff
          > a
            color: $light-grey
            font-family: $roboto
            font-weight: 300

    > .menu-item-has-children
      position: relative
      > .sub-menu
        > .menu-item-has-children
          //sub menu level 2
          > .sub-menu
            display: none
            list-style: none
            margin: 0
            padding: 0
            position: absolute
            top: 0
            left: 100%
            > li
              background-color: lighten($darker-grey, 10%)
              white-space: nowrap
              width: 100%
              line-height: 50px
              padding: 0 20px
              &:hover
                background-color: lighten($darker-grey, 20%)
                > a
                  color: #fff
              > a
                color: $light-grey
                font-family: $roboto
                font-weight: 300
          > a:after
            content: '\f0da'
            font-family: fontAwesome
            color: $primary-darker
            font-size: 12px
            margin-left: 7px
            position: relative
            top: -1px
            line-height: 1
          &:hover
            > .sub-menu
              display: block
      &:hover
        .sub-menu
          display: block
          perspective: 1000px
          border-bottom: $primary-color 5px solid
          animation:
            name: menu1
            duration: 400ms
            //delay: 150ms
            timing-function: ease-in-out
            fill-mode: forwards
          > li
            //opacity: 0
      > a:after
        content: '\f0d7'
        font-family: fontAwesome
        color: $primary-darker
        font-size: 12px
        margin-left: 7px
        position: relative
        top: -1px
        line-height: 1

@keyframes menu1
  0%
    opacity: 0
    transform: translateY(30px)
  100%
    opacity: 1
    transform: translateY(0px)


@media (max-width: 1024px)
  #site-main-navigation
    text-align: left
    display: none
#main-nav
  .sub-menu-columns
    ul.sub-menu
      width: 400px
      &:hover
        display: inline-block
      li
        display: inline-block
        float: left
        width: 200px
        &:nth-child(odd)
          float: left
        &:nth-child(even)
          float: right
