#main-content
  padding: 40px 0
  h1, h2, h3, h4, h5, h6
    margin: 0
    color: $grey
    &::before
      display: inline-block
      width: 14px
      height: 14px
      margin-right: 4px
      background-color: $primary-color
      content: ''

@import "_post-card"
