/**
  * ----------------------------------------------------------
  * ### Search Form Top
  * ----------------------------------------------------------*/
#form-top-wrapper
  background-color: $darker-grey
  #searchform-top
    display: none
    padding: 20px 40px
    text-align: center
    position: relative
    width: 100%
    .input-search-top
      border: none
      padding: 10px 0
      background: none
      color: $light-grey
      outline: none
      border-bottom: 2px solid $primary-darker
      width: 80%
      font-size: 18px
      font-weight: 300
      &::-webkit-input-placeholder
        color: $light-grey
      &::-moz-placeholder
        color: $light-grey
      &:-ms-input-placeholder
        color: $light-grey
      &:-moz-placeholder
        color: $light-grey

    #search-submit-top
      font-size: 30px
      color: $light-grey
      background: none
      border: none
      cursor: pointer

.search-top
  display: block
  background-color: $primary-color
  width: 100%
  position: relative
  .btn-search-top
    background-color: $primary-darker
    position: absolute
    right: 30px
    width: 40px
    height: 40px
    display: inline-block
    color: $primary-color
    text-align: center
    line-height: 30px
    color: #fff
    border-bottom: 4px solid $darker-grey
    transition: border-bottom 0.3s ease-in-out
    &:hover
      background-color: $primary-color
    i
    	font-size: 16px
  .social-icons
    margin-bottom: 3px
    a
      color: darken($primary-darker, 10%)
      margin-right: 6px
      font-size: 14px
      &:hover
        color: #fff
      &:last-child
        margin-right: none

@media (max-width: 1024px)
  #form-top-wrapper
    display: none
  .search-top
    display: none
