/**
  * ----------------------------------------------------------
  * ### Search Form Top
  * ----------------------------------------------------------*/
#form-top-wrapper
  background-color: $blue-grey
  #searchform-top
    display: none
    padding: 30px 0
    text-align: center
    position: relative
    width: 100%
    .input-search-top
      border: none
      padding: 10px 0
      background: none
      color: $light-grey
      outline: none
      border-bottom: 2px solid $primary-color
      width: 90%
      font-size: 18px
      font-weight: 300
      &::-webkit-input-placeholder
        color: $light-grey
      &::-moz-placeholder
        color: $light-grey
      &:-ms-input-placeholder
        color: $light-grey
      &:-moz-placeholder
        color: $light-grey

    #search-submit-top
      font-size: 30px
      color: $light-grey
      background: none
      border: none
      cursor: pointer

.search-top
  display: block
  background-color: $light-grey
  width: 100%
  position: relative
  .btn-search-top
    background-color: $blue-grey
    position: absolute
    top: 0
    right: 8px
    width: auto
    height: auto
    padding: 5px 15px
    display: inline-block
    color: $primary-color
    text-align: center
    line-height: 30px
    color: #fff
    border-bottom: 4px solid $primary-color
    transition: $main-transition
    t
    overflow: hidden
    &:hover
      background-color: $primary-color
      border-bottom-color: $blue-grey
    i
    	font-size: 16px
      transition: $main-transition
  .social-icons
    margin-bottom: 5px
    transition: $main-transition
    height: auto
    a
      color: $darker-grey
      margin-right: 8px
      font-size: 12px
      transition: $main-transition
      &:hover
        color: $primary-color
      &:last-child
        margin-right: none

.no-search-top
  transition: $main-transition
  .btn-search-top
    background-color: $light-grey
    top: 15px
    height: auto
    width: auto
    padding: 5px 15px
    border-bottom: none
    &:hover
      i
        color: white
    i
      color: $darker-grey
      font-size: 16px
  .social-icons
    margin-bottom: 0
    height: 0px
    overflow: hidden
    a
      font-size: 0px

@media (max-width: 1024px)
  #form-top-wrapper
    display: none
  .search-top
    display: none
