#home-services
  padding: 40px 0 0
  .service-box-wrapper
    margin-bottom: 40px
    border: 1px solid $light-grey
    .service-box
      display: block
      .service-image-wrapper
        position: relative
        &::before
          content: ''
          display: block
          position: absolute
          top: 0
          right: 0
          width: 100%
          height: 100%
          background-color: rgba(45,45,45,.6)
        .service-image
          vertical-align: middle
        .fa
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          color: white
          font-size: 4em
          font-weight: normal

      .service-content
        transition: all .4s ease
        padding: 20px 40px
        .service-title
          font-size: 1.3rem
          font-weight: 700
          color: $darker-grey
          margin: 0
          margin-bottom: 20px
          &:hover
            color: $primary-color
        .service-description
          color: #505050
          font-size: 16px
          line-height: 1.8
          margin: 0
          margin-bottom: 20px
        .service-button
          font-weight: bold
          color: $primary-darker
          margin: 0
          font-size: 14px
          .btn-secondary
            &:hover
              background-color: $primary-color
