#home-products
  background-color: $light-grey
  .product-card
    margin-bottom: 40px
  .flex-products
    position: relative
    .flex-direction-nav
      .flex-nav-prev
        left: inherit
        .flex-prev
          text-shadow: none
          opacity: 1
          display: block
          width: 30px
          height: 30px
          top: -67px
          left: 160px
          margin: 0
          background-color: #f1f1f1
          text-align: center
          &:hover
            background-color: $darker-grey
            &::before
              color: $white-text-ongrey
          &::before
            font-family: "FontAwesome"
            font-size: 20px
            display: inline-block
            content: '\f104'
            color: $blue-grey
            text-shadow: none
      .flex-nav-next
        .flex-next
          text-shadow: none
          opacity: 1
          display: block
          width: 30px
          height: 30px
          top: -67px
          left: 195px
          right: inherit
          margin: 0
          background-color: #f1f1f1
          text-align: center
          &:hover
            background-color: $darker-grey
            &::before
              color: $white-text-ongrey
          &::before
            font-family: "FontAwesome"
            font-size: 20px
            display: inline-block
            content: '\f105'
            color: $blue-grey
            text-shadow: none

#home-products-slider
  background-color: $light-grey
  .swiper-container
    width: 100%
    height: 100%
    .swiper-wrapper
      padding-bottom: 40px
      .product-card
        margin: 0 10px 30px
    .swiper-pagination
      .swiper-pagination-bullet-active
        opacity: 1
        background: $primary-color

  .section-title-wrapper
    position: relative
    .swiper-button-prev,
    .swiper-button-next
      position: absolute
      top: 25px
      &::after
        font-family: "FontAwesome"
        font-size: 16px
        background-color: #f1f1f1
        padding: 6px 16px
        color: $blue-grey
      &:focus
        outline: 0
    .swiper-button-prev
      left: 205px
      &::after
        content: '\f105'
    .swiper-button-next
      position: absolute
      left: 160px
      &::after
        content: '\f104'
