@keyframes scroll
  0%
    opacity: 0
  10%
    transform: translateY(0)
    opacity: 1
  100%
    transform: translateY(15px)
    opacity: 0
#home-hero-wrapper
  height: 600px
  overflow: hidden
  .video-background-wrapper
    position: relative
    height: 100%
    overflow: hidden

    #video-background
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    .hero-content-container
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right:  0
      display: flex
      align-content: center
      justify-content: flex-start
      align-items: center
      //background-color: rgba(23,23,23,.7)
      background-blend-mode: multiply
      .hero-content
        .content-wrapper
          padding: 40px
          .hero-title
            color: white
            font-size: 36px
            font-weight: bold
            line-height: 1.2
            margin-bottom: 20px
            span
              font-size: 40px
              color: $primary-color
          .hero-description
            font-size: 16px
            letter-spacing: 1.6px
            line-height: 1.4
            color: #E0E0E0
          .btn-primary
            margin-right: 10px
          .icon-scroll-down
            position: absolute
            right: 0
            bottom: 60px
            left: 0
            margin: auto
            width: 30px
            height: 30px
            .mouse
              width: 3px
              padding: 10px 15px
              height: 30px
              border: 2px solid #fff
              border-radius: 25px
              opacity: 0.75
              box-sizing: content-box
              .mouse-scroll
                width: 3px
                height: 10px
                border-radius: 25%
                background-color: #fff
                animation-name: scroll
                animation-duration: 2.2s
                animation-timing-function: cubic-bezier(.15,.41,.69,.94)
                animation-iteration-count: infinite


@media (max-width: $small)
  #home-hero-wrapper
    height: 100vh
    .video-background-wrapper
      .hero-content-container
        .hero-content
          .content-wrapper
            padding: 0px
            .hero-title
              font-size: 18px
              margin-bottom: 10px
              line-height: 1.2
              span
                font-size: 26px
            .hero-description
              font-size: 12px
            .btn
              font-size: 12px
